<%- include('partials/header') %>
<link rel="stylesheet" href="styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <div class="homescr">
    <div class="navbar">
      <div>
        <a class="btn2" href="/submit" role="button">Write</a>
        <a class="btn2" href="/all" role="button">All</a>
        <a class="btn2" href="/accounts" role="button">Account</a>
        <a class="btn2" href="/chat.html" role="button">Chat</a></div>
      

    </div>
    <h1 class="heading1" style="color: white ;">Welcome To OpenSpace!</h1>
    
    <div class="btndiv">
    
  </div>
  </div>

<%- include('partials/footer') %>