<%- include('partials/header') %>

<link rel="stylesheet" href="styles.css">
<div class="navbar">
  <div>
    <a class="btn2" href="/login" role="button">Login</a>
    <a class="btn2" href="/submit" role="button">Write</a>
    <a class="btn2" href="/all" role="button">All</a>
    <a class="btn2" href="/accounts" role="button">Account</a>
    <a class="btn2" href="/chat.html" role="button">Chat</a></div>
  
</div>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3"><%=title%></h1>
    <p class="lead"><%=content%></p>
    <hr>
      </div>
</div>

<%- include('partials/footer') %>